#infobox{

	width:100%;
	max-width:960px;
	margin:0px auto;
	padding:0px;
	box-sizing:border-box;

	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	align-content:flex-start;
	align-items:stretch;



}

body{
	background-color: rgb(44, 46, 51);
}

// .fullwidth{
//
// 	margin:2%;
// 	width:96%;
// 	padding:2%;
// 	box-sizing:border-box;
//
// 	border-radius: 25px;
//   border: 2px solid rgb(56,82,164);
//  	padding: 20px;
//
// }

.fullwidth2{

	margin:2%;
	width:96%;
	padding:2%;
	box-sizing:border-box;

	border-radius: 25px;
  border: 2px;
 	padding: 20px;

}

.halfwidth{
	background-color:rgb(180,180,180);
	margin:2%;
	width:46%;
	padding:2%;
	box-sizing: border-box;

 	padding: 20px;

}
nav{
	width: 100%;
	height:80%;
	min-width:50%;
	min-height:40%;
	margin: 10px 0px;
	/*background-color: rgb(200,200,200);*/
	text-align:center;
/*	padding:0px;*/
	box-sizing: border-box;
}

nav a{
	text-decoration: none;
}

nav ul li{
	display:inline-block;
	background-color: rgb(56,82,164);
	padding: 15px;
	margin: 0px 50px;
	font-family: 'opificio', sans-serif;
	color: rgb(255,255,255);

}

nav ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;

}
header {
  grid-area: header;
  //background-color: rgb(110, 143, 139);


}

header h1{
  color: white;
  text-align: center;
  font-family: sans-serif;
}

main{
  grid-area: main;

}
aside {
  grid-area: aside;

}
footer {
  grid-area: footer;

}

//https://alvarotrigo.com/blog/css-animations-scroll/ scroll animation sourceMap


//fire animation source
